<h1>Application Login</h1>

<%= link_to "Shib", @spsession_url  %>

<h2>Select login account</h2>

<h3>Fred Bloggs</h3>
<p>Principal: https://idp.one.edu.au/idp/shibboleth!-!d2404817-6fb9-4165-90d8-1</p>
<%= form_tag(:controller => 'auth', :action => 'development_login') do %>
  <%= hidden_field_tag(:principal, 'https://idp.one.edu.au/idp/shibboleth!-!d2404817-6fb9-4165-90d8-1') %>
  <%= hidden_field_tag(:credential, 'fake-sessionid-webform') %>
  
  <%= hidden_field :attributes, :cn, :value => 'Fred Bloggs' %>
  <%= hidden_field :attributes, :email, :value => 'fredbloggs@one.edu.au' %>
  <%= hidden_field :attributes, :entityID, :value => 'https://idp.one.edu.au/idp/shibboleth' %>
  <%= hidden_field :attributes, :homeOrganization, :value => 'one.edu.au' %>
  <%= hidden_field :attributes, :homeOrganizationType, :value => 'university:australia' %>

  <%= submit_tag('Login') %>
<% end %>

<h3>Joe Schmoe</h3>
<p>Principal: https://idp.one.edu.au/idp/shibboleth!-!d2404817-6fb9-4165-90d8-2</p>
<%= form_tag(:controller => 'auth', :action => 'development_login') do %>
  <%= hidden_field_tag(:principal, 'https://idp.one.edu.au/idp/shibboleth!-!d2404817-6fb9-4165-90d8-2') %>
  <%= hidden_field_tag(:credential, 'fake-sessionid-webform') %>
  
  <%= hidden_field :attributes, :cn, :value => 'Joe Schmoe' %>
  <%= hidden_field :attributes, :email, :value => 'joeschmoe@one.edu.au' %>
  <%= hidden_field :attributes, :entityID, :value => 'https://idp.one.edu.au/idp/shibboleth' %>
  <%= hidden_field :attributes, :homeOrganization, :value => 'one.edu.au' %>
  <%= hidden_field :attributes, :homeOrganizationType, :value => 'university:australia' %>

  <%= submit_tag('Login') %>
<% end %>

<h3>Max Mustermann</h3>
<p>Principal: https://idp.one.edu.au/idp/shibboleth!-!d2404817-6fb9-4165-90d8-3</p>
<%= form_tag(:controller => 'auth', :action => 'development_login') do %>
  <%= hidden_field_tag(:principal, 'https://idp.one.edu.au/idp/shibboleth!-!d2404817-6fb9-4165-90d8-3') %>
  <%= hidden_field_tag(:credential, 'fake-sessionid-webform') %>
  
  <%= hidden_field :attributes, :cn, :value => 'Max Mustermann' %>
  <%= hidden_field :attributes, :email, :value => 'maxmustermann@one.edu.au' %>
  <%= hidden_field :attributes, :entityID, :value => 'https://idp.one.edu.au/idp/shibboleth' %>
  <%= hidden_field :attributes, :homeOrganization, :value => 'one.edu.au' %>
  <%= hidden_field :attributes, :homeOrganizationType, :value => 'university:australia' %>

  <%= submit_tag('Login') %>
<% end %>
